.Root
{
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: auto;
    margin-top: 80px;
}

.ImageContainer
{
    display: flex;
    height: 500px;
}

.ImageContainer img
{
    height: 500px;
}



/* Mobiles & Tablets (Landscape) = iPhoneX Mobile, Surface Duo Tablet */
@media only screen 
  and (min-width: 320px) 
  and (max-width: 850px) 
  and (orientation: landscape) 
{

    .ImageContainer
    {
        height: 250px;
    }

    .ImageContainer img
    {
        height: 250px;
    }
}

/* Mobiles & Tablets (Portrait) = iPhoneX Mobile, Surface Duo Tablet */
@media only screen 
  and (min-width: 320px) 
  and (max-width: 767px) 
  and (orientation: portrait) 
{ 

    .ImageContainer
    {
        height: 300px;
    }

    .ImageContainer img
    {
        height: 300px;
    }
}